/* DEFAULT */

h1{
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to right,white, #56AEFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #56AEFF;
    font-size: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*TOGGLE SWITCH*/


/*CUSTOM WORK CITED ELEMENTS*/
.wc-element {
    border-radius: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px ;
    height: max-content;
    scroll-margin-bottom: 300px;
    padding: 20px;
}

.wc-element:hover {
   
    border-radius: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px ;
    height: max-content;
    font-weight: bold;
    scroll-margin-bottom: 300px;
    padding: 20px;
}

.wc-element:hover .dialouge{
   color: rgb(251, 234, 3);
}

#wc {
    text-wrap: wrap;
    background-color: aquamarine;
    background-image: linear-gradient(to right, rgb(162, 0, 255), rgb(0, 157, 255) );
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
    width: fit-content;
}

.wc-box{
    display: flex;
    flex-direction:column;
    background-color: white;
}

.wc-box h1{
    font-size: 30px;
    align-self: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}


/* CUSTOM ELEMENTS */
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 20px;
}
.profile-left{
    display: flex;
    flex-direction: column;
}

.profile-right{
    display: flex;
    flex-direction: row;
}
.profile img{
    width: 150px;
    height: 150px;
}

.gallery{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
}

.heading-bubble {
    /* background-image: linear-gradient(to right,#56AEFF,white 10%); */
    background-image: linear-gradient(to right,rgb(162, 0, 255) 10px,white 20px, white 11%);
    /* background-color: #56AEFF; */
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px ;
    padding-bottom: 0px;
    /* padding-left: 0px; */
    
    width: fit-content;
}

.text-bubble {
    margin-left: 2%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#56AEFF 1%,#56adff29 1.5%, rgba(255, 0, 0, 0.127) 98%, red 99%);
    /* background-image: linear-gradient(to right,#56AEFF 1%,white 1.5%,#56adff29 1.5%, rgba(255, 0, 0, 0.127) 98%, white 98%, red 99%); */


}

.table-of-contents{
    list-style-type:disc;
    margin-left: 2%;
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(to right,#56AEFF 1%,white 1.5%, white 98%, red 99%);
    background-image: linear-gradient(to right,#56AEFF 1%,white 1.5%,#56adff29 1.5%, rgba(255, 0, 0, 0.127) 98%, white 98%, red 99%);

}

.banner {
    /* border-color: #3563a9; */
    width: 100%;
    position:fixed;

}

.banner img {
    width: 100%;
    justify-content: center;
    z-index: 0;
}

.banner p{
    z-index: 1;
}

.banner audio{
    width: 100%;
   
}

.opening{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.separator {
    background-color: rgba(15, 0, 42, 0.542);
    width: 100%;
    height: 10%;
    /* background-image: url("/Users/flyingtopher/Desktop/Code Citadel/School/3. PSYC 2288 Podcast/Podcast/assets/images/separator Image.png"); */
    /* text-align: center; */
    font-size:40px;
    font-family: "Impact";
    color: red;
}

.separator .menu{
    display: flex;
    justify-content: space-evenly;
}

.separator .menu button {
    background-color: transparent;
    /* background-image: url("/Users/flyingtopher/Desktop/Code Citadel/School/3. PSYC 2288 Podcast/Podcast/assets/images/separator Image.png"); */
    text-align: center;
    font-size:40px;
    font-family: "Impact";
    color: rgb(255, 0, 0);
    border-color: transparent;
    border-bottom-color: black;
}

.separator .menu button:hover {
    color: rgb(255, 255, 255);
  
}


.body {
    display: flex;
    flex-direction: column;
    position:relative;
    margin-top: -10%;
    /* background-color: rgb(62,87,128); */
    background-color: transparent;
    height: fit-content;
    width: 100%;
    top:80%;
    font-size: 16px;
}

.body .audioBlock{
    background-color: blueviolet;
    text-align: center;

}

.body .audioBlock p{
    color:white;
}


/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }


.transcript-box{
    display: flex;
    flex-direction:column;
    background-color: white;
}

audio::-webkit-media-controls-panel {
    background-color: #56AEFF;
  }

/* NOT CURRENTLY IN USE */
.sticky-box{
    /* background-color: rgba(255, 0, 0, 0.52); */
    background-color: rgba(255, 251, 3, 0.688);

    min-height: 100px;

    /* STICKY ON TOP */
    /* position: sticky;*/
    /* top: 0;  */

    position: fixed;
    bottom: 0;
    justify-self: right;
    align-self:center;
    /* width: 25%; */
    max-width: 25%;
 
    z-index: 4;
    display: flex;
    flex-direction: column;
    /* border-style: solid; */
    border-width: 10px;
    border-color: black;
    border-radius: 30px;
    margin-right: 5px;
}


.sticky-box-RIGHT{
    /* background-color: rgba(255, 0, 0, 0.52); */
    background-color: rgba(255, 251, 3, 0.688);

    min-height: 100px;

    /* STICKY ON TOP */
    position: sticky;
    top: 0;
    height: fit-content;
    max-width: 25%;
    padding: 20px;
    padding-top: 0px;

    /* position: relative;
    bottom: 0;
    justify-self: right;
    align-self:flex-end;
    width: 25%; */
 
    z-index: 4;
    display: flex;
    flex-direction: column;
    /* border-style: solid; */
    border-width: 10px;
    border-color: black;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
}



.transcript-box h1{
    font-size: 30px;
    align-self: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.sticky-box audio{
    align-self: center;
    background-image: linear-gradient(to right, rgb(162, 0, 255), rgb(0, 157, 255) );
    /* border: solid;
    border-width: 5px;*/
    border-radius: 20px;
    margin: 0px;
}
/* #audiofile{
    transform: translate(100%, 0%);
    background-color: black;
} */




.twoColumn{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    background-image: linear-gradient(to right, rgb(162, 0, 255), rgb(0, 157, 255) );
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}

#subtitle-box {
    background-color: aquamarine;
    background-image: linear-gradient(to right, rgb(162, 0, 255), rgb(0, 157, 255) );
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
    width: 60%
}


.tempContainer {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    width: 90%;


    /* TEST PARAMETERS */
    /* background-color: red; */
}


/* Dialouge Boxes */
/*Before*/
.talk-box {
    border-radius: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px ;
    height: max-content;
    /* vertical-align: middle; */
    /* justify-content: center;
    align-items: center; */
    /* scroll-margin-block-end: 500px; */
    scroll-margin-bottom: 300px;
    padding: 20px;
}

.talk-box img {
    border-radius: 30px;
    min-width: 100px;
    min-height: 100px;
}

.talk-box .profile-photos {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.dialouge {
    display: flex;
    flex-direction: row;
    height: fit-content;
    font-family: monospace;
    vertical-align: middle;
    width: fit-content;
    /* transform: translate(0%, 40%); */
    padding-left: 3%;
    width: 75%;

    /* TEST PARAMETERS */
    /* background-color: pink; */
}


/*After*/
.talk-box-read {
    border-radius: 50px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    transition: all 1.0s ease;
    font-size: 25px;
    height: fit-content;
    /* vertical-align: middle; */
    /* scroll-margin-block-end: 500px; */
    scroll-margin-bottom: 300px;
}

.talk-box-read img {
    transition: all 1.0s ease;
    min-width: 150px;
    min-height: 150px;
}

.talk-box-read .profile-photos {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}



@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.question-display {
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* font-family: "Impact"; */
    font-family: monospace;
    font-weight: bold;
    font-size: 20px ;
    height: fit-content;
    color:white;
    background-color: blueviolet;
    animation: 1s linear fadein;
    justify-content: center;
    width: fit-content;
}

.question-display .profile-photos{
    width: 50px;
    height: 50px;
    margin: 0px;
}

#question-box{
    transition: all 1.0s ease;
    margin: 0px;
}

#question-box{
    margin: 0px;
}

.currQuestionHeader{
    justify-self: center;
    text-decoration: underline;
    font-size: 30px;
    margin: 0px;
}

.currQuestionBody{
    justify-self: center;
    font-size: 30px;
    margin: 0px;
}

.timestamp{
    height: fit-content;
    margin-right: 0px;
    padding: 20px;
    /* border: solid; */
    /* border-width: 10px; */
    border-color: black;
    margin-left: 10px;
    width: 10%;
    background-color: black;
    border-top-right-radius: 30px;
}


.segment1{
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    text-align: center;
}

.segment1 figcaption{
    font-size: 0.9vw;
}

.segment1 img{
    align-self:flex-end;
}


/*AUDIO VISUALIZER*/
.visualizer-container {
    min-height: 200px;
    bottom: 450px;
    right: 0;
    left: 0;
    background-color: #04AA6D;
    text-align: center;
    vertical-align: text-bottom;
}

.visualizer-container__bar {
    display: inline-block;

    background: white;
    margin: 0 2px;
    width: 25px;

}

/* TOGGLE SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }